/*reset*/
* {
  margin: 0;
  padding: 0; }

/* color de fondo*/
body {
  background-color: white; }
  body header h1 {
    display: flex;
    justify-content: flex-start;
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin-left: 180px;
    font-family: 'Taviraj', serif;
    font-weight: 300;
    font-style: italic;
    font-size: 50px; }
  body header nav ul {
    font-family: 'Taviraj', serif;
    font-weight: 300; }

.carousel-inner {
  max-height: 35rem; }

/*subtitulo y parrafos index*/
main {
  gap: 8px;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  grid-template-areas: "subtitulo subtitulo" "parrafo-uno amburguesa-uno" "amburguesa-dos parrafo-dos";
  font-family: 'Taviraj', serif;
  text-align: justify;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 195px;
  margin-right: 180px; }

.subtitulo {
  grid-area: subtitulo;
  font-size: 30px; }

.parrafo-uno {
  grid-area: parrafo-uno;
  font-style: italic;
  padding: 20px;
  font-size: 20px; }

.parrafo-dos {
  grid-area: parrafo-dos;
  font-style: italic;
  font-size: 20px; }

.cazuela {
  /*img*/
  grid-area: amburguesa-uno;
  width: 100%;
  height: auto;
  text-align: center;
  padding: 20px;
  animation-duration: 3s;
  animation-name: aparecer;
  animation-iteration-count: initial; }

@keyframes aparecer {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

.empanadas {
  /*img*/
  grid-area: amburguesa-dos;
  width: 100%;
  height: auto;
  text-align: center;
  padding: 20px;
  animation-duration: 3s;
  animation-name: aparecer;
  animation-iteration-count: initial; }

@keyframes aparecer {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

/* recetas fiestas patrias, subtitulo, ingredientes, preparacion */
main h2 {
  font-size: 30px; }
  main h2 h3 {
    font-size: 25px;
    font-family: 'Taviraj', serif; }
  main h2 ul {
    /* lista ingredientes*/
    display: flex;
    flex-direction: column;
    list-style: circle;
    font-family: 'Taviraj', serif;
    border: 3px #FFB662 solid;
    padding: 25px;
    font-style: italic;
    font-size: 20px; }
    main h2 ul .pino {
      /*imagen pino*/
      padding: 10px;
      width: 80%;
      height: auto; }
    main h2 ul ol {
      /* lista preparacion */
      list-style: decimal;
      font-family: 'Taviraj', serif;
      padding: 30px;
      margin-right: 5rem;
      font-size: 20px; }

/* Vocabulario culinario y sobre nosotros*/
.parrafo-tres {
  margin-left: 195px;
  margin-right: 180px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: 'Taviraj', serif;
  font-style: italic;
  font-size: 20px; }

.vocabulario {
  display: flex;
  flex-direction: column;
  list-style: circle;
  font-family: 'Taviraj', serif;
  font-size: 20px;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 170px;
  margin-right: 170px; }

/*pie de pagina*/
footer {
  display: flex;
  justify-content: center; }
  footer h2 {
    background-color: #dbcb96;
    font-family: 'Taviraj', serif;
    font-size: 20px;
    width: 350px;
    text-align: center;
    padding: 1px 1px 1px 1px;
    border: 3px solid rosybrown; }

/* contactanos*/
.formulario {
  display: flex;
  flex-direction: column;
  margin-right: 350px;
  font-family: 'Taviraj', serif;
  font-size: 30px;
  font-size: 25px; }

input {
  height: 40px; }
