@import "base/mixin";
@import "base/mapas";





/*reset*/

* {
    margin: 0;
    padding: 0;
}

/* color de fondo*/
body {
    background-color: map-get($map: $body, $key: color-body);

    header {
        h1 {
            display: flex;
            justify-content: flex-start;
            margin-top: 2rem;
            margin-bottom: 2rem;
            margin-left: 180px;
            font-family: 'Taviraj', serif;
            font-weight: 300;
            font-style: italic;
            font-size: 50px;
        }

        nav {
            ul {
                font-family: 'Taviraj', serif;
                font-weight: 300;

            }
        }
    }

}


.carousel-inner {
    max-height: 35rem;
}



/*subtitulo y parrafos index*/

.principal {
    gap: 8px;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas: "subtitulo subtitulo subtitulo"
        "parrafo-uno cazuela cazuela"
        "empanada empanada parrafo-dos";
    font-family: 'Taviraj', serif;
    text-align: justify;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 195px;
    margin-right: 180px;


}

.subtitulo {
    grid-area: subtitulo;
    font-size: 30px;
}


.parrafo-uno {
    grid-area: parrafo-uno;
    @extend %parrafos;
}

.parrafo-dos {
    grid-area: parrafo-dos;
    @extend %parrafos;
}

@import "base/extend";




.cazuela {
    /*img*/
    grid-area: cazuela;
    @include medidas(100%, auto);
    @include box-model-img;



}

@keyframes aparecer {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.empanadas {
    /*img*/
    grid-area: empanada;
    @include medidas(100%, auto);
    @include box-model-img;


}

@keyframes aparecer {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}


/* recetas fiestas patrias, subtitulo, ingredientes, preparacion */

.card {
    margin-top: 15px;
    margin-bottom: 15px;


}

main {
    display: flex;
    flex-direction: column;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-left: 270px;
    margin-right: 270px;
    margin-top: 30px;
    margin-bottom: 30px;
    font-family: 'Taviraj', serif;



    h2 {
        font-size: 35px;
        padding: 10px;
        width: 100%;
        height: 100%;
    }


    h3 {
        font-size: 30px;
        width: 100%;
        height: 100%;
        margin-left: 60px;
        padding: 10px
    }

    .recetasimg {
        padding: 20px;
        width: 45%;
        height: auto;

    }


    ul {
        /* lista ingredientes*/

        list-style: circle;
        font-family: 'Taviraj', serif;
        padding: 25px;
        font-style: italic;
        font-size: 20px;

        li {
            font-size: 25px;
        }
    }

    ol {
        /* lista preparacion */

        list-style: decimal;
        font-family: 'Taviraj', serif;
        padding: 30px;
        margin-right: 5rem;
        font-size: 20px;

        li {
            font-size: 25px;

            p {
                font-size: 25px;
            }
        }

    }

}






/* Vocabulario culinario y sobre nosotros*/

.parrafo-tres {

    justify-content: center;
    font-family: 'Taviraj', serif;
    font-style: italic;
    font-size: 20px;






}

.vocabulario {

    display: flex;
    flex-direction: column;
    text-align: justify;
    margin-bottom: 20px;


    li {
        justify-content: center;
        list-style: circle;
        font-family: 'Taviraj', serif;
        font-size: 20px;
        padding: 10px;

    }

    img {
        padding: 20px;
        width: 30%;
        height: auto;

    }


}


/*pie de pagina*/

footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(243, 243, 243);
    font-family: 'Taviraj', serif;
    font-size: 15px;
    img{
        width: 10%;
        
    }



    h2 {
        text-align: center;
        font-family: 'Taviraj', serif;
        font-size: 15px;
        
        



    }
}

/* contactanos*/

.formulario {
    display: flex;
    flex-direction: column;
    margin-right: 350px;
    font-family: 'Taviraj', serif;
    font-size: 30px;
    font-size: 25px;

}

input {
    height: 40px;

}




/*===================================Mediaqueries==============================================*/
@media screen and (max-width:768px) {

    .principal {
        gap: 8px;
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto;
        grid-template-areas: "subtitulo subtitulo"
            "parrafo-uno parrafo-uno "
            "cazuela cazuela"
            "parrafo-dos parrafo-dos"
            "empanada empanada";
        font-family: 'Taviraj', serif;
        text-align: justify;
        margin-top: 30px;
        margin-bottom: 30px;
        margin-left: 120px;
        margin-right: 120px;


    }

    .subtitulo {
        grid-area: subtitulo;
        font-size: 40px;
    }


    .parrafo-uno {
        grid-area: parrafo-uno;
        font-style: italic;
        padding: 20px;
        font-size: 30px;



    }

    .parrafo-dos {
        grid-area: parrafo-dos;
        font-style: italic;
        padding: 20px;
        font-size: 30px;

    }




    body {
        background-color: map-get($map: $body, $key: color-body);

        header {
            h1 {
                display: flex;
                justify-content: flex-start;
                margin-top: 2rem;
                margin-bottom: 2rem;
                margin-left: 130px;
                font-family: 'Taviraj', serif;
                font-weight: 300;
                font-style: italic;
                font-size: 70px;
            }

            nav {
                ul {
                    font-family: 'Taviraj', serif;
                    font-weight: 300;

                }
            }
        }

    }


    .carousel-inner {
        max-height: 35rem;
    }



    /*subtitulo y parrafos index*/





    .cazuela {
        /*img*/
        grid-area: cazuela;
        @include medidas(100%, auto);
        @include box-model-img;



    }

    @keyframes aparecer {
        0% {
            opacity: 0;
        }

        100% {
            opacity: 1;
        }
    }

    .empanadas {
        /*img*/
        grid-area: empanada;
        @include medidas(100%, auto);
        @include box-model-img;


    }

    @keyframes aparecer {
        0% {
            opacity: 0;
        }

        100% {
            opacity: 1;
        }
    }


    /* recetas fiestas patrias, subtitulo, ingredientes, preparacion */

    .card {
        margin-top: 15px;
        margin-bottom: 15px;


    }

    main {
        display: flex;
        flex-direction: column;
        margin-left: 120px;
        margin-right: 120px;
        margin-top: 30px;
        margin-bottom: 30px;
        font-family: 'Taviraj', serif;



        h2 {
            font-size: 40px;
        }


        h3 {
            font-size: 40px;

        }

        .recetasimg {
            padding: 20px;
            width: 80%;
            height: auto;

        }


        ul {
            /* lista ingredientes*/

            list-style: circle;
            font-family: 'Taviraj', serif;
            padding: 25px;
            font-size: 30px;
        }

        ol {
            /* lista preparacion */

            list-style: decimal;
            font-family: 'Taviraj', serif;
            padding: 30px;
            margin-right: 3rem;
            font-size: 30px;

            li {
                font-size: 40px;

                p {
                    font-size: 30px;
                    text-align: justify;
                }
            }
        }

    }








    /* Vocabulario culinario y sobre nosotros*/

    .parrafo-tres {

        justify-content: center;
        font-family: 'Taviraj', serif;
        font-style: italic;
        font-size: 30px;


    }

    .vocabulario {

        display: flex;
        flex-direction: column;
        text-align: justify;
        margin-top: 30px;
        margin-bottom: 30px;


        li {
            justify-content: center;
            list-style: circle;
            font-family: 'Taviraj', serif;
            font-size: 30px;
            padding: 10px;

        }

        img {
            padding: 20px;
            width: 90%;
            height: auto;

        }


    }


    /*pie de pagina*/

    footer {
        display: flex;
        justify-content: center;

        h2 {
            background-color: rgb(219, 203, 150);
            font-family: 'Taviraj', serif;
            font-size: 20px;
            width: 350px;
            text-align: center;
            padding: 1px 1px 1px 1px;
            border: 3px solid rosybrown;

        }
    }

    /* contactanos*/

    .formulario {
        display: flex;
        flex-direction: column;
        margin-right: 237px;
        margin-left: 100px;
        font-family: 'Taviraj', serif;
        font-size: 30px;
        font-size: 25px;

        input {
            height: 40px;



        }


    }
}

@media screen and (max-width:576px) {

    .principal {
        gap: 8px;
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto;
        grid-template-areas: "subtitulo "
            "parrafo-uno  "
            "cazuela "
            "parrafo-dos"
            "empanada";
        font-family: 'Taviraj', serif;
        text-align: justify;
        margin-top: 30px;
        margin-bottom: 30px;
        margin-left: 50px;
        margin-right: 60px;
        justify-items: center;


    }

    .subtitulo {
        grid-area: subtitulo;
        font-size: 35px;
    }


    .parrafo-uno {
        grid-area: parrafo-uno;
        font-style: italic;
        padding: 20px;
        font-size: 30px;



    }

    .parrafo-dos {
        grid-area: parrafo-dos;
        font-style: italic;
        padding: 20px;
        font-size: 30px;

    }




    body {
        background-color: map-get($map: $body, $key: color-body);

        header {
            h1 {
                display: flex;
                justify-content: center;
                margin-top: 2rem;
                margin-bottom: 2rem;
                margin-left: 13px;
                font-family: 'Taviraj', serif;
                font-weight: bold;
                font-style: italic;
                font-size: 37px;

            }

            nav {
                ul {
                    font-family: 'Taviraj', serif;
                    font-weight: 300;

                }
            }
        }

    }


    .carousel-inner {
        max-height: 35rem;
    }



    /*subtitulo y parrafos index*/





    .cazuela {
        /*img*/
        grid-area: cazuela;
        @include medidas(100%, auto);
        @include box-model-img;



    }

    @keyframes aparecer {
        0% {
            opacity: 0;
        }

        100% {
            opacity: 1;
        }
    }

    .empanadas {
        /*img*/
        grid-area: empanada;
        @include medidas(100%, auto);
        @include box-model-img;


    }

    @keyframes aparecer {
        0% {
            opacity: 0;
        }

        100% {
            opacity: 1;
        }
    }


    /* recetas fiestas patrias, subtitulo, ingredientes, preparacion */

    .card {
        margin-top: 15px;
        margin-bottom: 15px;


    }

    main {
        display: flex;
        flex-direction: column;
        margin-left: 120px;
        margin-right: 120px;
        margin-top: 30px;
        margin-bottom: 30px;
        font-family: 'Taviraj', serif;



        h2 {
            font-size: 40px;
        }


        h3 {
            font-size: 40px;

        }

        .recetasimg {
            padding: 20px;
            width: 100%;
            height: auto;

        }


        ul {
            /* lista ingredientes*/

            list-style: circle;
            font-family: 'Taviraj', serif;
            padding: 25px;
            font-size: 30px;

            li {
                font-size: 35px;
            }
        }

        ol {
            /* lista preparacion */

            list-style: decimal;
            font-family: 'Taviraj', serif;
            padding: 30px;
            margin-right: -4rem;
            margin-left: -4rem;
            font-size: 30px;


            p {
                font-size: 35px;
                text-align: justify;
            }

        }

    }








    /* Vocabulario culinario y sobre nosotros*/

    .parrafo-tres {

        justify-content: center;
        font-family: 'Taviraj', serif;
        font-style: italic;
        font-size: 30px;
        margin-left: -50px;
        margin-right: -70px;


    }

    .vocabulario {

        display: flex;
        flex-direction: column;
        text-align: justify;
        margin-top: 30px;
        margin-bottom: 30px;
        margin-left: -50px;
        margin-right: -70px;


        li {
            justify-content: center;
            list-style: circle;
            font-family: 'Taviraj', serif;
            font-size: 30px;
            padding: 10px;

        }

        img {
            padding: 20px;
            width: 90%;
            height: auto;

        }


    }


    /*pie de pagina*/

    footer {
        display: flex;
        justify-content: center;

        h2 {
            background-color: rgb(219, 203, 150);
            font-family: 'Taviraj', serif;
            font-size: 20px;
            width: 350px;
            text-align: center;
            padding: 1px 1px 1px 1px;
            border: 3px solid rosybrown;

        }
    }

    /* contactanos*/

    .formulario {
        display: flex;
        flex-direction: column;
        margin-right: 110px;
        margin-left: 140px;
        font-family: 'Taviraj', serif;
        font-size: 30px;
        font-size: 25px;

        input {
            height: 40px;



        }


    }

}